<!DOCTYPE html>
<html ng-app="chessApp">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"> 
        <link rel="stylesheet" href="chess.css"> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <title>Page 1</title>
    </head>
    <body ng-controller="chessController">  
    <nav class="navbar navbar-inverse">
      <div class="container-fluid" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" 
          aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href=""><img src="logo.png" width="20px"></a>-->
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
                <li><a href="">Home</a></li>
                <li><a href="#play" id="play">Play</a></li>
                <li><a href="#scores">Scores</a></li>
                <li><a href="#questions">Questions</a></li>
                <li><a href="#settings">Settings</a></li>
                <li><a href="#login">Log in</a></li>
              </ul>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-danger">Search</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div id="content">
      <div id="view">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-8" "col-md-8" "col-lg-8">
              <div id="borderdiv">
                <div class="chess" ng-init="chess=chessInscope">
                  <div class="row" ng-repeat="item in chess track by $index" post-repeat>
                    <button class="board" name="{{x.position}}" id="{{x.name}}" ng-repeat="x in item track by $index" ng-bind="x.unicode"></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2" "col-md-2" "col-lg-2">
              <table id="coordFrom">
                <tr>
                  <td>From</td>
                </tr>
              </table>
            </div>
            <div class="col-sm-2" "col-md-2" "col-lg-2">
              <table id="coordTo">
                <tr>
                  <td>To</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="move.js"></script>
  </body>
</html>

          